<h1> <%= @game.player1.name %> vs <%= @game.player2.name %> </h>

<form action="/attack" method="post">
  <button type="submit" name="attack_p2" formmethod="post">
    ATTACK!
  </button>
</form>

<% if @current_turn == 0 %>
 <h1> <%= @game.player2.name %>'s turn!</h>
<% else %>
  <h1> <%= @game.player1.name %>'s turn!</h>
<% end %>

<% if @attacked %>
  Your attack on <%= @game.player2.name %> landed!
<% end %>

<div class="player_2_hitpoints">
<%= @game.player2.name %>'s HP
 <progress value=<%= @game.player2.hp %>
 max="100" ></progress>
</div>
