<h1> <%= @player_1.name %> vs <%= @player_2.name %> </h>

<form action="/attack" method="post">
  <button type="submit" name="attack_p2" formmethod="post">
    ATTACK!
  </button>
</form>

<% if @attacked %>
  Your attack on <%= @player_2.name %> landed!
<% end %>

<div class="player_2_hitpoints">
<%= @player_2.name %>'s HP
 <progress value=<%= @player_2.hp %>
 max="100" ></progress>
</div>
